* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0, 1200px) minmax(0px, 1fr);
    background-color: rgb(233, 233, 233);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    grid-column: 2 / 3;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
}

header {
    grid-column: span 3;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(3, minmax(0, 400px)) minmax(0px, 1fr);
    background-color: rgb(20, 20, 20);
    height: max-content;
    margin: 0;
}

.logo {
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin: 2rem;
    color: white;
    font-size: 3rem;
    text-align: center;
}

nav {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: left;
    align-self: center;
    display: none;
}

.menu-items > li {
    display: block;
    margin: 1.5rem 0;
}

.menu-items > li:hover {
    cursor: pointer;
    opacity: .7;
}

.menu-items > li > a {
    color: white;
    font-size: 1.8rem;
}

/***** Checkbox, Label(Hamburger Icon) *****/

.mobile-toggle {
    display: none;
}

.mobile-toggle,
.menu-icon {
    grid-column: 2 / 3;
    grid-row: 1;
    align-self:center;
}

.menu-icon {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.menu-lines {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} 

.menu-lines::before,
.menu-lines::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
}
.menu-lines::before{
    top: 7px;
}
.menu-lines::after{
    top: -7px;
}


/***** Toggle Mobile Nav *****/

.mobile-toggle:checked ~ nav{
    display: block;
    grid-column: span 6;
    grid-row: 2;
    justify-self: center;
    max-height: max-content;
}

.mobile-toggle:checked ~ .menu-icon > .menu-lines {
    background: transparent;
}

.mobile-toggle:checked ~ .menu-icon > .menu-lines::before {
    transform: rotate(-45deg);
    top:0;
}

.mobile-toggle:checked ~ .menu-icon > .menu-lines::after {
    transform: rotate(45deg);
    top:0;
}


/***** Hide Mobile Nav, Show Standard Nav*****/

@media screen and (min-width: 750px) {

    .mobile-toggle,
    .menu-icon {
        display: none;
    }

    nav {
        display: inline-block;
        margin-left: 1rem;
    }

    nav > .menu-items > li {
        display: inline-block;
        margin: 0 1rem;
    }
}